/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: 'Roboto', sans-serif;
  /* flex: 2 200px; */
}



body {
  background-image: url("assets/burger-friends.jpg");
  position: absolute;
  background-size: cover;
  display: flex;
  flex-direction: column;
}


/* div {
  background-image: url("assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 2000px 1500px; */


  .nav-bar {
    position: relative;
    display: block;
    background-color: #0fb9b1;
    width: 105%;
    height: 60px;
    margin: -10px 0px 70px -10px;
  }


.left-box {
  display: inline-block;
  height: 400px;
  width: 530px;
  background-color: rgba(225, 225, 225, .9);
  padding: 30px;
  margin: 5px 0px 0px 100px;
}

.right-box {
  /* display: inline-block; */
  height: 440px;
  width: 570px;
  background-color: rgba(225, 225, 225, .9);
  padding: 10px;
  margin: -460px 40px 40px 870px;
  text-align: center;
  /* float: right; */
}

svg {
  height: 150px;
  width: 150px;
  padding-top: 150px;
}

.add-recipe {
  float: right;
  padding: 5px;
  margin: -25px 15px 20px 30px;
  background-color: white;
}

.main-header {
  /* float: left; */
  padding: 30px 10px 10px 30px;
  margin: 10px 20px 15px -10px;
  font-size: 30px
}

.wfd {
  margin: 20px 0px 0px 20px;
  font-weight: bold;
}

.choose-side {
  padding: 10px 0px 0px 30px;
}

.choose-main {
  padding: 10px 0px 0px 30px;
}

.choose-dessert {
  padding: 10px 0px 0px 30px;
}

.choose-entire-meal {
  padding: 10px 0px 0px 30px;
}

button {
  margin: 10px 0px 0px 30px;
  width: 180px;
  height: 30px;
  background-color: #0fb9b1;
  border: none;
  border-radius: 4px;
}
